account.0.enable = 1
account.0.label = 
account.0.display_name = 
account.0.auth_name = 
account.0.user_name = 
account.0.password = 

account.0.sip_server.1.address = 10.0.16.69
account.0.sip_server.1.port = 5060
account.0.sip_server.1.expires = 180
account.0.sip_server.1.register_on_enable = 1
account.0.unregister_on_reboot = 1

account.0.codec.2.enable = 1
account.0.codec.2.payload_type = PCMA
account.0.codec.2.priority = 1
account.0.codec.2.rtpmap = 8
account.0.codec.1.enable = 1
account.0.codec.1.payload_type = PCMU
account.0.codec.1.priority = 2
account.0.codec.1.rtpmap = 0
account.0.codec.6.enable = 1
account.0.codec.6.payload_type = G722
account.0.codec.6.priority = 3
account.0.codec.6.rtpmap = 9
account.0.codec.5.enable = 1
account.0.codec.5.payload_type = G729
account.0.codec.5.priority = 4
account.0.codec.5.rtpmap = 18

account.0.dtmf.type = 1
account.0.outbound_proxy_enable = 0

