yealink	t18
yealink	t19
yealink	t19p
yealink	t19p_e2
yealink	t19pe2
yealink	t19_e2
yealink	t20
yealink	t20p
yealink	t21
yealink	t21p
yealink	t21e2
yealink	t21_e2
yealink	t21pe2
yealink	t21p_e2
yealink	t22
yealink	t22p
yealink	t23
yealink	t23p
yealink	t23g
yealink	t26
yealink	t26p
yealink	t27
yealink	t27p
yealink	t27g
yealink	t29
yealink	t28
yealink	t28p
yealink	t29g
yealink	t30
yealink	t30p
yealink	t31
yealink	t31g
yealink	t31p
yealink	t32
yealink	t32g
yealink	t33g
yealink	t33p
yealink	t38
yealink	t38g
yealink	t40
yealink	t40p
yealink	t40g
yealink	t41
yealink	t41p
yealink	t41u
yealink	t41s
yealink	t42
yealink	t42g
yealink	t42s
yealink	t42u
yealink	t43u
yealink	t46
yealink	t46g
yealink	t46s
yealink	t46u
yealink	t48
yealink	t48g
yealink	t48s
yealink	t48u
yealink	t52s
yealink	t54s
yealink	t53
yealink	t54w
yealink	vp-t49
yealink	t49g
yealink	t57w
yealink	t58
yealink	vp-t59
yealink	w52
yealink	w53
yealink	w56
yealink	w60
yealink	vp530
yealink	cp860
yealink	cp920
yealink	cp925
yealink	cp930w
yealink	cp960
cisco	3905
cisco	6901
cisco	6921
cisco	7821
cisco	7841
cisco	7861
cisco	7906g
cisco	7911g
cisco	7925g
cisco	7925g-ex
cisco	7926g
cisco	7940g
cisco	7941g
cisco	7941ge
cisco	7942g
cisco	7945g
cisco	7960g
cisco	7961g
cisco	7962g
cisco	7965g
cisco	7975g
cisco	8811
cisco	8831
cisco	8841
cisco	8851
cisco	8861
cisco	8945
cisco	8961
cisco	9951
cisco	9971
qtech	qipp-100
qtech	qipp-100p
qtech	qipp-300pg
qtech	qipp-400p
qtech	qipp-400pg
qtech	qipp-500pg
qtech	qipp-v600pg
qtech	qipp-v700pg
qtech	qipp-800pg
qtech	qipp-1000pg
qtech	qipp-pwr5v
