#Параметры для подключения к MYSQL
host = localhost
port = 3306
user = freepbxuser
# пароль можно посмотреть в /etc/freepbx.conf
pass = pAsfF0dsW/1m1221
db = asterisk

# Данные для скрипта queue.py
queue_db = asteriskcdrdb
queue_url = "Урл на который необходимо отправлять post запрос с данными"
#Номера, которые являются служебными и статистика по этим номерам из CDR не должна отправлятся на queue_url
queue_number_no_mess_push = 10010,10050,10051,10053

# Данные для скрипта mixmon_mp3.pl
cdrdb = asteriskcdrdb
cdrtable = cdr

# Данные для скрипта sip-phone.pl
# Адрес TFTP-сервера
tftp_ip = tftp://10.0.18.2/
sip_server_1_address = 10.0.18.2
sip_server_1_port = 5060
sip_server_2_address = 10.0.18.2
sip_server_2_port = 5060

tls_srtp_on = 10001-10006,10008-10013,10015,10018,10020,10022,10024-10030,10033-10035,10037,10040-10099,19601,19604
profile_ldap_def = profile.ldap.cfg
profile_ldap_castom = 19600-19699:profile_gubso.ldap.cfg

#exp_mod:	1 - Номер для которого необходимо автоматом заполнить модули EXP (номера через запятую или через -, 101-110,120)
#		2 - Номер модуля и сколько в нем кнопок, модулей можно несколько, через "," (1:60,2:60)
#		3 - Пул номеров которые необходимо прописывать на кнопки модуля, если на АТС появляется номер входящий в этот пул (19600-19699)
#		4 - Режим заполнения модуля: "0" - Игнорируем, не заполняем. "1" - Заполняем кнопки модуля согласно последней цифре номера телефона начиная по порядку (1 - 19601, 2 - 19602, 4 - 19604, если номер отсутствует, то кнопка остается пустой)
#									"2" - Заполняем подряд кнопки всеми номерами без пропуска кнопок, если появляется номер посередине, то номера сдвигаются по кнопкам.
#		6 - Тип с которым должны прописываться номера (16 - BLF)
exp_mod = 19601; 1:60,2:60; 19600-19699; 1; 16

#exp_mod_custom - Файл конфигурации с номерами которые должны быть прописаны на панели. /opt/asterisk/script/devices/yealink/805ec0dd95fa-exp-mod-local.cfg
#		Если выбран Режим заполнения модуля 1 и кнопки заняты номерами из файла "mac"-exp-mod-local.cfg, то номера из пула "3" для этих кнопок игнорируются (пропускаются)
#Пример файла:
#--------------------------------------
#expansion_module.1.key.1.label = Мария
#expansion_module.1.key.1.line = 1
#expansion_module.1.key.1.type = 16
#expansion_module.1.key.1.value = 10029
#expansion_module.1.key.2.label = Роман
#expansion_module.1.key.2.line = 1
#expansion_module.1.key.2.type = 16
#expansion_module.1.key.2.value = 10001
#--------------------------------------
#exp_mod_custom = 19601

# Значение по умолчанию для всех телефонов по вкл./выкл. VPN
vpn_root = 0
fwd_enable = 1
rename_linekey = 1
rename_memorykey = 1
#local_cfg - Здесь прописываем индивидуальные настройки для каждого отдельного номера в конфигурацию *-local.cfg (например подписываем DECT трубку на номере 555(555:handset.1.name = Приёмная;), 
#номера можно перечислить диапазоном 310-330.)
#local_cfg = 100-999:lang.gui = Russian; 100-999:lang.wui = Russian; 100-999:features.action_uri_limit_ip = 10.1.100.2
#local_cfg = 235:account.1.sip_server_host = 10.0.18.2; 235:account.1.sip_server_port = 5060

#Настройка для всех файлов mac.cfg
#network.vlan.internet_port_enable = 1
#network.vlan.internet_port_vid = 111
#mac_cfg = 404:network.vlan.internet_port_enable = 0; 404:network.vlan.internet_port_vid = 1

# Данные для скриптов pdf_to_tiff.pl & phonebook.pl & result_email.pl
domen = tel.ru
user_name = test
user_email = test@test.ru
user_email_phonebook = test@test.ru

# Данные для скрипта noanswer.py
#ad_delete_extension - Если в AD удалили номер. (0-не удаляем его с FreePBX, 1-удаляем его с FreePBX)
ad_delete_extension = 0
# Если задача прописать на freePBX номер (exten) и что-бы он не удалился так как его нет в AD, то необходимо прописать этотномер в параметре no_delete_extension через запятую, а пул через -.
# Например no_delete_extension = 10068,10069-10090
no_delete_extension = 10068,10069-10090

# Номер телефона по умолчанию, для внутренних телефонов при включенном FollowME
fixedcid = 3573097
fw_auto = 1
#call_waiting_yes = 0/1
call_waiting_yes = 0
#Если password от sip-учетки длинее чем 31 символ, то конфиг на cisco IP Phone не принимается телефоном, а во FreePBX пароль по умолчаниюсоздается в 32 разряда
#Для решения проблемы, было принято решение отслеживать из поля в AD модель телефона и если она попадает в список переменной secret_cisco, то на sip-учетке
#FeePBXа урезаем пароль до 30 разрядов.
secret = 1
secret_cisco = 7911g,7942g,7945g

#Телефоны cisco не хотят работать с freePBX по UDP (проверял на pjsip) с настройками по умолчанию.
#Для корректной работы cisco телефонов необходимо выключить в no два параметра force_rport и rewrite_contact
#Данный парметр делает это автоматически если force_rport_yes = 1 (0 не делает) и force_rport_model = 7911g,7942g,7945g (перечисляем модели длякоторых необходимо выставлять параметры в no)
force_rport_yes = 1
force_rport_model = 7911g,7942g,7945g

#Здесь необходимо добавить внутренние номера которые входят в группы, для того, чтобы при занятой линии тот кто звонит не слушал сообщение о том, что абонент занят, перезвоните позднее.
#call_waiting_invisible = 104,105
aggregate_mwi = 1

# Данные для скрипта phonebook_xml.pl
invisible = 666

# Данные для скрипта calls_in_out_all.py
Для каждого номера прописываем колличество линий, для корректного формирования статичтики
dict_number = 2479241:5,3573079:4,3573097:14,3856610:8,3857018:2,3857320:3,3857500:3,3857710:3,3857750:4,3857787:3,3857900:6,3857901:3,3858068:4,3858088:5,3859101:3,3573011:4,3858758:5
# Прописываем e-mail на который будет отправляться статистика.
#email_report = kruk.ivan@itmh.ru
#email_report = 

# Данные для скрипта cdr_report.py
# В разработке
cdr_report = 1:666:311,312-314,all:1d:1d
