
ldap.enable = 1
ldap.name_filter = (&(cn=%)(pager=*)(ipPhone=*)(telephoneNumber=*)(!(userAccountControl=514)))
ldap.number_filter = (&(pager=*)(ipPhone=*)(telephoneNumber=%)(!(userAccountControl=514)))
ldap.host = "domen.local"
ldap.port = 389
ldap.base = dc="domen",dc=local
ldap.user = "user@domen.local"
ldap.password = "password"
ldap.max_hits = 1000
ldap.name_attr = cn
ldap.numb_attr = telephoneNumber
ldap.display_name = %cn
ldap.version = 3
ldap.call_in_lookup = 1
ldap.ldap_sort = 1
